/* --- Root Variables --- */
:root {
  --light-grey: #f9f9f9;
  --dark-blue-navbar: #21202b;
  --black: #000000;
  --grey-medium: #e1e4e5;
  --white: #ffffff;
  --nimbus: #f6f6f6;
  --da-sidebar: #343131;
  --da-green: #2ab1ac; 
  --da-green-hover: #56d7d2;
  --ds-sidebar-text: #d9d9d9;
  --da-sidebar-item-hover: #4e4a4a;
  --sidebar-active1: #e3e3e3;
  --sidebar-active2: #d6d6d6;
  --sidebar-active3: #404040;
  --sidebar-hover1:  #9b9b9b;
  --box-border: #ccc;
  --code: #f4f4f4;
  --table-header-border: #ddd;
  --table-header-background: #f2f2f2;

}

/* --- Global Styling --- */
body {
font-family: Arial, sans-serif;
margin: 0;
height: 100vh;
display: flex;
background-color: var(--nimbus);
}

/* --- Layout Styling --- */
#container {
display: flex;
width: 100%;
}

#sidebar {
min-width: 250px;
padding: 20px;
background-color: var(--da-sidebar);
color: var(--white);
height: 100vh;
}

#sidebar h2 {
font-size: 1.2rem;
margin-bottom: 20px;
}

#content {
flex-grow: 1;
padding: 20px;
overflow-y: auto;
}

/* --- Sidebar Styling --- */
#sidebar ul {
list-style: none;
padding: 0;
}

#sidebar ul li {
padding: 10px;
}

#sidebar ul li a {
color: var(--ds-sidebar-text);
text-decoration: none;
font-weight: 600;
}

#sidebar ul li:hover {
background-color: var(--da-sidebar-item-hover);
}

#sidebar ul li.active {
background: var(--sidebar-active1);
}

#sidebar ul li.active ul {
background: var(--sidebar-active2);
}

#sidebar ul li.active a {
color: var(--sidebar-active3); 
}

#sidebar ul li.active a span { 
color: var(--sidebar-active3);
border: 1px solid var(--sidebar-active3);
}

#sidebar ul li.active ul li:hover {
background-color: var(--sidebar-hover1);  
}

#sidebar ul li ul li a {
color: var(--ds-sidebar-text);
text-decoration: none;
font-weight: 400;
}

/* --- Section Styling --- */
.api-section {
margin-bottom: 30px;
padding: 20px;
background-color: var(--white);
border: 1px solid var(--grey-medium);
border-radius: 8px;
}

.api-section h3 {
margin-top: 0;
}

.api-section p {
margin-bottom: 15px;
color: var(--dark-blue);
}

.api-subsection {
margin-top: 20px;
}

.api-section > .api-subsection:last-child {
padding-bottom: 100vh;
}

/* --- Form Styling --- */
form {
display: flex;
flex-direction: column;
}

form label {
margin-bottom: 10px;
font-weight: 600;
}

/* --- Button Styling --- */
.button {
padding: 10px 16px;
background-color: var(--da-green);
color: var(--white);
border: none;
cursor: pointer;
border-radius: 4px;
font-weight: bold;
width: 10dvw;
}

.button:hover {
background-color: var(--da-green-hover);
}

/* --- Response and Request Styling --- */
.request, .response {
margin-top: 10px;
padding: 10px;
border: 1px solid var(--grey-medium);
background-color: var(--light-grey);
border-radius: 4px;
font-family: monospace;
}

.request code, .response code {
color: var(--dark-blue-navbar);
}

.response {
margin-top: 5px;
word-wrap: break-word;
color: var(--black);
}

/* --- Icon Styling --- */
.toggle-icon {
display: inline-block;
width: 10px;
height: 10px;
line-height: 10px;
text-align: center;
border: 1px solid var(--white);
border-radius: 3px;
margin-right: 5px;
font-weight: bold;
font-size: 14px;
color: var(--white);
}

.copy-icon {
cursor: pointer;
font-size: 1.5rem;
color: var(--da-green);
margin-left: 10px;
}

.copy-icon:hover {
color: var(--da-green-hover);
}

.copyMessage {
color: var(--da-green);
display: none;
margin-left: 10px;
}

/* --- Nested Section Styling --- */
.nested {
display: none;
padding-left: 20px;
}

/* --- Header and Label Styling --- */
.header {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.header .label,
.section .label,
.response-body .label,
.label {
font-weight: bold;
}

.section {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.left, .right {
width: 48%;
}

.response-body {
margin-top: 20px;
}


/* --- Box Styling --- */
.box {
border: 1px solid var(--box-border);
border-radius: 4px;
padding: 10px;
background-color: var(--light-grey);
white-space: pre-wrap;
}


/* --- Miscellaneous Styling --- */
#baseURLDiv {
background-color: var(--da-green);
padding: 10px;
}

.code {
font-family: monospace;
background-color: var(--code);
padding: 2px 5px;
border-radius: 4px;
}



.card-info {
border-collapse: collapse;
}

.card-info th, .card-info td {
border: 1px solid lightgrey;
padding: 8px;
text-align: left;
}

.card-info tbody tr:nth-child(odd) {
background-color: var(--light-grey);
}

.card-info tbody tr:nth-child(even) {
background-color: var(--white);
}

.param-table, .error-table {
width: 100%;
border-collapse: collapse;
margin: 20px 0;
}

.param-table th, .param-table td, .error-table th, .error-table td {
border: 1px solid var(--table-header-border);
padding: 8px;
text-align: left;
}

.param-table th, .error-table th {
background-color: var(--table-header-background);
font-weight: bold;
}

.tick {
color: green;
font-weight: bold;
content: "✓";
}

.cross {
color: red;
font-weight: bold;
content: "✗";
}

.separator {
margin: 50px auto;
border: none;
border-top: 2px solid var(--da-green);
}

